.container{
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
}

.question{
    padding:1px 10px 1px 10px;
    background:pink;
    margin-bottom:10px;
    border-radius:10px;
}

.answer{
    margin-right:10px;
}